USE [L3MSuper]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[Cedula] [int] NOT NULL,
	[FNacimiento] [date] NOT NULL,
	[Contraseña] [varchar](20) NOT NULL,
	[Nombre1] [varchar](20) NOT NULL,
	[Nombre2] [varchar](20) NULL,
	[Apellido1] [varchar](20) NOT NULL,
	[Apellido2] [varchar](20) NOT NULL,
	[Provincia] [varchar](50) NOT NULL,
	[Canton] [varchar](50) NOT NULL,
	[Distrito] [varchar](50) NOT NULL,
	[Indicaciones] [varchar](120) NOT NULL,
	[Telefono] [int] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMPAÑIA]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPAÑIA](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONT_PEDIDO]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONT_PEDIDO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPedido] [int] NOT NULL,
	[NombreMedicamento] [varchar](30) NOT NULL,
	[IDReceta] [int] NULL,
	[Cantidad] [int] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DESC_PEDIDO]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESC_PEDIDO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CedCliente] [int] NOT NULL,
	[IDSucursal] [int] NOT NULL,
	[Telefono] [int] NOT NULL,
	[HoraRecojo] [time](7) NOT NULL,
	[FechaRecojo] [date] NOT NULL,
	[Estado] [varchar](15) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[Cedula] [int] NOT NULL,
	[FNacimiento] [date] NOT NULL,
	[Contraseña] [varchar](20) NOT NULL,
	[Nombre1] [varchar](20) NOT NULL,
	[Nombre2] [varchar](20) NULL,
	[Apellido1] [varchar](20) NOT NULL,
	[Apellido2] [varchar](20) NOT NULL,
	[Provincia] [varchar](50) NOT NULL,
	[Canton] [varchar](50) NOT NULL,
	[Distrito] [varchar](50) NOT NULL,
	[Indicaciones] [varchar](120) NOT NULL,
	[Telefono] [int] NULL,
	[IDRol] [int] NOT NULL,
	[IDCompañia] [int] NOT NULL,
	[IDSucursal] [int] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEDICAMENTO]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENTO](
	[Nombre] [varchar](30) NOT NULL,
	[CasaFarmaceutica] [varchar](30) NOT NULL,
	[Prescripcion] [bit] NOT NULL,
	[CantidadTotal] [varchar](30) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PADECIMIENTOS]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PADECIMIENTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CedulaCliente] [int] NOT NULL,
	[Descripcion] [varchar](80) NOT NULL,
	[FechaPadecimiento] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RECETA]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CedDoctor] [int] NOT NULL,
	[Foto] [varchar](max) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROL]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID] [int] NOT NULL,
	[Descripcion] [varchar](30) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUC_MEDICAMENTO]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUC_MEDICAMENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedicamento] [varchar](30) NOT NULL,
	[IDSucursal] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 17/10/2017 6:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CedAdmin] [int] NOT NULL,
	[IDCompañia] [int] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Descripcion] [varchar](30) NOT NULL,
	[Provincia] [varchar](50) NOT NULL,
	[Canton] [varchar](50) NOT NULL,
	[Distrito] [varchar](50) NOT NULL,
	[Indicaciones] [varchar](120) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CONT_PEDIDO]  WITH CHECK ADD  CONSTRAINT [DESC_PEDIDOxCONT_PEDIDO] FOREIGN KEY([IDPedido])
REFERENCES [dbo].[DESC_PEDIDO] ([ID])
GO
ALTER TABLE [dbo].[CONT_PEDIDO] CHECK CONSTRAINT [DESC_PEDIDOxCONT_PEDIDO]
GO
ALTER TABLE [dbo].[CONT_PEDIDO]  WITH CHECK ADD  CONSTRAINT [MEDICAMENTOxCONT_PEDIDO] FOREIGN KEY([NombreMedicamento])
REFERENCES [dbo].[MEDICAMENTO] ([Nombre])
GO
ALTER TABLE [dbo].[CONT_PEDIDO] CHECK CONSTRAINT [MEDICAMENTOxCONT_PEDIDO]
GO
ALTER TABLE [dbo].[CONT_PEDIDO]  WITH CHECK ADD  CONSTRAINT [RECETAxCONT_PEDIDO] FOREIGN KEY([IDReceta])
REFERENCES [dbo].[RECETA] ([ID])
GO
ALTER TABLE [dbo].[CONT_PEDIDO] CHECK CONSTRAINT [RECETAxCONT_PEDIDO]
GO
ALTER TABLE [dbo].[DESC_PEDIDO]  WITH CHECK ADD  CONSTRAINT [CLIENTExDESC_PEDIDO] FOREIGN KEY([CedCliente])
REFERENCES [dbo].[CLIENTE] ([Cedula])
GO
ALTER TABLE [dbo].[DESC_PEDIDO] CHECK CONSTRAINT [CLIENTExDESC_PEDIDO]
GO
ALTER TABLE [dbo].[DESC_PEDIDO]  WITH CHECK ADD  CONSTRAINT [SUCURSALxDESC_PEDIDO] FOREIGN KEY([IDSucursal])
REFERENCES [dbo].[SUCURSAL] ([ID])
GO
ALTER TABLE [dbo].[DESC_PEDIDO] CHECK CONSTRAINT [SUCURSALxDESC_PEDIDO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [COMPAÑIAxEMPLEADO] FOREIGN KEY([IDCompañia])
REFERENCES [dbo].[COMPAÑIA] ([ID])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [COMPAÑIAxEMPLEADO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [ROLxEMPLEADO] FOREIGN KEY([IDRol])
REFERENCES [dbo].[ROL] ([ID])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [ROLxEMPLEADO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [SUCURSALxEMPLEADO] FOREIGN KEY([IDSucursal])
REFERENCES [dbo].[SUCURSAL] ([ID])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [SUCURSALxEMPLEADO]
GO
ALTER TABLE [dbo].[PADECIMIENTOS]  WITH CHECK ADD  CONSTRAINT [CLIENTExPADECIMIENTOS] FOREIGN KEY([CedulaCliente])
REFERENCES [dbo].[CLIENTE] ([Cedula])
GO
ALTER TABLE [dbo].[PADECIMIENTOS] CHECK CONSTRAINT [CLIENTExPADECIMIENTOS]
GO
ALTER TABLE [dbo].[RECETA]  WITH CHECK ADD  CONSTRAINT [EMPLEADOxRECETA] FOREIGN KEY([CedDoctor])
REFERENCES [dbo].[EMPLEADO] ([Cedula])
GO
ALTER TABLE [dbo].[RECETA] CHECK CONSTRAINT [EMPLEADOxRECETA]
GO
ALTER TABLE [dbo].[SUC_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [MEDICAMENTOxSUC_MEDICAMENTO] FOREIGN KEY([NombreMedicamento])
REFERENCES [dbo].[MEDICAMENTO] ([Nombre])
GO
ALTER TABLE [dbo].[SUC_MEDICAMENTO] CHECK CONSTRAINT [MEDICAMENTOxSUC_MEDICAMENTO]
GO
ALTER TABLE [dbo].[SUC_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [SUCURSALxSUC_MEDICAMENTO] FOREIGN KEY([IDSucursal])
REFERENCES [dbo].[SUCURSAL] ([ID])
GO
ALTER TABLE [dbo].[SUC_MEDICAMENTO] CHECK CONSTRAINT [SUCURSALxSUC_MEDICAMENTO]
GO
ALTER TABLE [dbo].[SUCURSAL]  WITH CHECK ADD  CONSTRAINT [COMPAÑIAxSUCURSAL] FOREIGN KEY([IDCompañia])
REFERENCES [dbo].[COMPAÑIA] ([ID])
GO
ALTER TABLE [dbo].[SUCURSAL] CHECK CONSTRAINT [COMPAÑIAxSUCURSAL]
GO
ALTER TABLE [dbo].[SUCURSAL]  WITH CHECK ADD  CONSTRAINT [EMPLEADOxSUCURSAL] FOREIGN KEY([CedAdmin])
REFERENCES [dbo].[EMPLEADO] ([Cedula])
GO
ALTER TABLE [dbo].[SUCURSAL] CHECK CONSTRAINT [EMPLEADOxSUCURSAL]
GO
