USE [L3MSuper]
GO
ALTER TABLE [dbo].[SUCURSAL] DROP CONSTRAINT [EMPLEADOxSUCURSAL]
GO
ALTER TABLE [dbo].[SUCURSAL] DROP CONSTRAINT [COMPAÑIAxSUCURSAL]
GO
ALTER TABLE [dbo].[SUC_MEDICAMENTO] DROP CONSTRAINT [SUCURSALxSUC_MEDICAMENTO]
GO
ALTER TABLE [dbo].[SUC_MEDICAMENTO] DROP CONSTRAINT [MEDICAMENTOxSUC_MEDICAMENTO]
GO
ALTER TABLE [dbo].[RECETA] DROP CONSTRAINT [EMPLEADOxRECETA]
GO
ALTER TABLE [dbo].[PADECIMIENTOS] DROP CONSTRAINT [CLIENTExPADECIMIENTOS]
GO
ALTER TABLE [dbo].[EMPLEADO] DROP CONSTRAINT [SUCURSALxEMPLEADO]
GO
ALTER TABLE [dbo].[EMPLEADO] DROP CONSTRAINT [ROLxEMPLEADO]
GO
ALTER TABLE [dbo].[EMPLEADO] DROP CONSTRAINT [COMPAÑIAxEMPLEADO]
GO
ALTER TABLE [dbo].[DESC_PEDIDO] DROP CONSTRAINT [SUCURSALxDESC_PEDIDO]
GO
ALTER TABLE [dbo].[DESC_PEDIDO] DROP CONSTRAINT [CLIENTExDESC_PEDIDO]
GO
ALTER TABLE [dbo].[CONT_PEDIDO] DROP CONSTRAINT [RECETAxCONT_PEDIDO]
GO
ALTER TABLE [dbo].[CONT_PEDIDO] DROP CONSTRAINT [MEDICAMENTOxCONT_PEDIDO]
GO
ALTER TABLE [dbo].[CONT_PEDIDO] DROP CONSTRAINT [DESC_PEDIDOxCONT_PEDIDO]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 09/10/2017 23:51:27 ******/
DROP TABLE [dbo].[SUCURSAL]
GO
/****** Object:  Table [dbo].[SUC_MEDICAMENTO]    Script Date: 09/10/2017 23:51:27 ******/
DROP TABLE [dbo].[SUC_MEDICAMENTO]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 09/10/2017 23:51:27 ******/
DROP TABLE [dbo].[ROL]
GO
/****** Object:  Table [dbo].[RECETA]    Script Date: 09/10/2017 23:51:27 ******/
DROP TABLE [dbo].[RECETA]
GO
/****** Object:  Table [dbo].[PADECIMIENTOS]    Script Date: 09/10/2017 23:51:27 ******/
DROP TABLE [dbo].[PADECIMIENTOS]
GO
/****** Object:  Table [dbo].[MEDICAMENTO]    Script Date: 09/10/2017 23:51:28 ******/
DROP TABLE [dbo].[MEDICAMENTO]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 09/10/2017 23:51:28 ******/
DROP TABLE [dbo].[EMPLEADO]
GO
/****** Object:  Table [dbo].[DESC_PEDIDO]    Script Date: 09/10/2017 23:51:28 ******/
DROP TABLE [dbo].[DESC_PEDIDO]
GO
/****** Object:  Table [dbo].[CONT_PEDIDO]    Script Date: 09/10/2017 23:51:28 ******/
DROP TABLE [dbo].[CONT_PEDIDO]
GO
/****** Object:  Table [dbo].[COMPAÑIA]    Script Date: 09/10/2017 23:51:28 ******/
DROP TABLE [dbo].[COMPAÑIA]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 09/10/2017 23:51:28 ******/
DROP TABLE [dbo].[CLIENTE]
GO
